.about-site {
  position: relative;
}

.about-site::after {
  content: "";

  position: absolute;
  top: 0;

  background-image: url("../img/index-background-mobile@1x.jpg");
  background-color: #63a73a;
  background-position: bottom;
  background-repeat: no-repeat;

  height: 305px;
  width: 100%;

  z-index: -1;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
  }
}

.about-site__title {
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  font-weight: 400;
  text-align: center;

  padding-top: 28px;
}

.about-site__slogan {
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;

  padding-top: 23px;
  margin: 0;
}

.about-site__image {
  margin: 0 auto;
  margin-top: 28px;

  display: block;
}

.about-site__button {
  padding-top: 11px;
  padding-bottom: 11px;
  margin-top: 4px;
}

.about-site__button span {
  font-size: 14px;
  line-height: 18px;
}

@media (min-width: 768px) {
  .about-site {
    background: none;
  }

  .about-site::after {
    background: none;
  }

  .about-site__content {
    position: relative;
  }

  .about-site__title {
    font-size: 60px;
    line-height: 60px;
    color: #111111;
    text-align: start;

    padding-top: 45px;
    padding-left: 87px;

    width: 427px;
  }

  .about-site__slogan {
    font-size: 20px;
    line-height: 20px;
    color: #111111;
    text-align: start;

    padding-top: 41px;
    padding-left: 87px;
  }

  .about-site__image {
    position: absolute;
    top: 245px;
    left: 29px;

    margin: 0;

    width: 709px;
    height: 609px;

    z-index: -1;
  }

  .about-site__button {
    padding-top: 16px;
    padding-bottom: 16px;
    margin-left: 87px;
    margin-top: 47px;
    margin-bottom: 528px;

    width: 245px;
  }

  .about-site__button span {
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: 1300px) {
  .about-site {
    position: relative;
  }

  .about-site::after {
    content: "";

    top: -120px;
    right: 0;

    background-color: #64a83b;
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: 720px 696px;
    background-position: right 0;

    width: 50%;
    height: 696px;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/index-background-desktop@2x.jpg");
    }
  }

  .about-site__title {
    padding-top: 103px;
    padding-left: 82px;
  }

  .about-site__slogan {
    padding-top: 40px;
    padding-left: 82px;
  }

  .about-site__button {
    margin-left: 81px;
    margin-top: 53px;
  }

  .about-site__content {
    height: 606px;
  }

  .about-site__image {
    top: 23px;
    left: 498px;

    width: 522px;
    height: 499px;

    z-index: 1;
  }
}
