.about-site__text {
  background: #65a93c url("../img/index-background-mobile@1x.jpg") no-repeat;
}

.about-site__title {
  font-size: 36px;
  color: #ffffff;
  font-weight: 400;
}

.about-site__slogan {
  text-transform: uppercase;
  color: #ffffff;
}

.about-site__button {
  padding-top: 11px;

  height: 40px;

  box-sizing: border-box;

  display: block;
}
