.adress {
  padding-top: 30px;
}

.adress__title {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
}

.adress__place {
  font-family: "Arial", "Helvetica", sans-serif;
  color: #444444;
}
