.catalog-extra {
  padding-bottom: 35px;
}

.catalog-extra__title {
  font-weight: 400;
}

.catalog-extra__stock-description {
  color: #ffffff;
}

.catalog-extra__stock {
  background: #65a93c url("../img/gift-photo-mobile@1x.jpg") no-repeat;

  margin-top: 40px;
}
