.catalog-extra {
  border-top: 1px solid #ededed;

  padding-bottom: 35px;
}

.catalog-extra__list {
  border-bottom: 1px solid #cdcdcd;

  margin-top: 33px;
  padding-bottom: 2px;
}

.catalog-extra__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;

  padding-top: 29px;
}

.catalog-extra__stock-description {
  font-family: "Arial", "Helvetica", sans-serif;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;

  padding-top: 145px;
  margin: 0 auto;

  width: 161px;
}

.catalog-extra__stock {
  position: relative;

  text-align: center;

  background: #65a93c url("../img/gift-photo-mobile@1x.jpg") no-repeat;
  background-size: 100% 100%;
  background-position: center center;

  margin-top: 39px;

  width: 280px;
  height: 289px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.catalog-extra__stock::after {
  content: "";

  position: absolute;
  top: 65px;
  left: 113px;

  background-image: url("../../img/icon-gift.svg'");

  width: 55px;
  height: 60px;
}

@media (min-width: 768px) {
  .catalog-extra {
    border: none;

    padding-bottom: 76px;
  }

  .catalog-extra__title {
    position: relative;

    font-size: 36px;
    line-height: 36px;

    background-color: #ffffff;

    padding-left: 37px;
    padding-top: 65px;

    width: 373px;
  }

  .catalog-extra__title::after {
    content: "";

    position: absolute;
    top: 88px;
    left: -30px;

    background-color: #68b738;

    width: 768px;
    height: 3px;

    z-index: -1;
  }

  .catalog-extra__list {
    margin-top: 80px;
  }

  .catalog-extra__stock {
    background: #65a93c url("../img/gift-photo-tablet@1x.jpg") no-repeat;

    padding-top: 65px;
    padding-bottom: 70px;
    padding-left: 90px;
    margin-top: 67px;

    width: 706px;
    height: 200px;

    flex-direction: row;
    justify-content: space-between;

    box-sizing: border-box;
  }

  .catalog-extra__stock::after {
    left: 90px;
  }

  .catalog-extra__stock-description {
    text-align: left;

    padding: 0;
    padding-left: 333px;
    padding-top: 8px;
    margin: 0;
  }
}

@media (min-width: 1300px) {
  .catalog-extra {
    padding-bottom: 84px;
  }

  .catalog-extra__title {
    padding-top: 74px;
    margin-left: -37px;
  }

  .catalog-extra__title::after {
    left: -70px;

    width: 1440px;
  }

  .catalog-extra__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .catalog-extra__list {
    margin-top: 81px;

    width: 895px;
  }

  .catalog-extra__stock {
    background: #65a93c url("../img/gift-photo-desktop@1x.jpg") no-repeat;

    padding: 0;
    padding-top: 63px;
    padding-bottom: 45px;
    margin-top: 81px;

    width: 245px;
    height: 289px;

    flex-direction: column;
  }

  .catalog-extra__stock::after {
    left: 97px;
  }

  .catalog-extra__stock-description {
    text-align: center;

    padding: 0;
    padding-top: 124px;

    width: 161px;
  }
}
