.catalog-extra__stock {
    background: #65a93c url(../img/gift-photo-mobile@1x.jpg) no-repeat;
}

.catalog-adress {
    background-color: #f2f2f2;
}

.product {
    padding-top: 20px;
    padding-bottom: 20px;
}

.catalog-extra {
    padding-bottom: 35px;
}

.extra-product {
    padding-top: 15px;
    padding-bottom: 15px;
}

.catalog-extra__stock {
    margin-top: 40px;
}