.developer {
  padding-top: 29px;
}

.developer__link {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  color: #444444;

  display: flex;
  justify-content: space-between;
}

.developer__link:active {
  opacity: 0.3;
}

.developer__link-image {
  margin-top: -15px;
  margin-right: -8px;
}

.developer__link:hover path {
  fill: #68b738;
}

@media (min-width: 768px) {
  .developer {
    padding-top: 20px;

    width: 162px;
  }
}
