.main-nav {
    position: relative;
}

.main-nav__toggle {
    position: absolute;
    top: 0;
    right: 0;

    background: none;

    display: block;

    cursor: pointer;
    border: none;
    outline: none;
}

.main-nav--closed .main-nav__toggle::before {
    content: "";

    position: absolute;
    top: -45px;
    right: 0;

    background-color: #222222;
    box-shadow: 0 6px 0 0 #222222, 0 12px 0 0 #222222;

    width: 24px;
    height: 2px;
}

.main-nav--opened .main-nav__toggle {
    top: -35px;
    right: 0;

    &::before,
    &::after {
        content: "";

        position: absolute;
        top: 0;
        right: 0;

        background-color: #222222;

        width: 24px;
        height: 2px;
    }

    &::before {
        transform: rotate(45deg);
    }

    &::after {
        transform: rotate(-45deg);
    }
}

@media (max-width: 768px) {
    .main-nav--closed .main-menu__unit {
        display: none;
    }

    .main-nav--nojs .main-nav__toggle {
        display: none;
    }

    .main-nav--nojs .main-menu__unit {
        display: block;
    }
}
