.message__legend {
  padding-top: 30px;
}

.message__input {
  font-size: 16px;
  text-transform: uppercase;

  border: 1px solid #e7e7e7;

  padding-top: 12px;
  padding-left: 15px;
  margin-top: 33px;

  width: 280px;
  height: 150px;

  box-sizing: border-box;

  resize: none;
}

@media (min-width: 768px) {
  .message__legend {
    padding-top: 60px;
  }

  .message__legend::after {
    top: 80px;
  }

  .message__input {
    font-size: 20px;
    line-height: 20px;

    padding-top: 15px;
    padding-left: 18px;
    margin-top: 76px;

    width: 631px;
    height: 174px;
  }
}

@media (min-width: 1300px) {
  .message__input {
    width: 1220px;
  }

  .message__legend {
    padding-top: 62px;
  }

  .message__legend::after {
    top: 85px;
  }
}
