.page-header__top-content {
  padding-bottom: 14px;
  padding-top: 10px;

  display: flex;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .page-header {
    padding-top: 12px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-header__top-content {
    width: 175px;
  }

  .page-header__toggle {
    display: none;
  }
}

@media (min-width: 1300px) {
  .page-header {
    padding-top: 42px;
  }
}
