.personal-info__legend {
    font-size: 24px;
}

.personal-info__label {
  color: #222222;
  font-size: 16px;
  text-transform: uppercase;
}
  
.personal-info__value {
  font-size: 16px;
  text-transform: uppercase;
}  
