.personal-info__legend {
  padding-top: 27px;
  padding-bottom: 30px;

  width: 206px;
}

.personal-info__list {
  list-style: none;

  margin: 0;
  margin-top: 5px;
  margin-bottom: -14px;
  padding: 0;
}

.personal-info__unit {
  position: relative;

  margin-bottom: 14px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.personal-info__label {
  color: #222222;
  font-size: 16px;
  text-transform: uppercase;
}

.personal-info__value {
  font-size: 16px;
  text-transform: uppercase;

  border: 1px solid #e7e7e7;

  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 15px;

  box-sizing: border-box;
}

.personal-info__value-email {
  width: 219px;
}

.personal-info__value-phone {
  width: 204px;
}

.personal-info__icon {
  position: absolute;
}

.personal-info__icon-mail {
  top: 15px;
  right: 15px;
}

.personal-info__icon-phone {
  top: 12px;
  right: 12px;
}

@media (min-width: 768px) {
  .personal-info {
    margin-right: 35px;
  }

  .personal-info__legend {
    padding-top: 76px;

    width: auto;
  }

  .personal-info__list {
    margin-top: 46px;
  }

  .personal-info__unit {
    margin-bottom: 20px;
  }

  .personal-info__label {
    font-size: 20px;
    line-height: 20px;
  }

  .personal-info__value {
    font-size: 20px;
    line-height: 20px;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
  }

  .personal-info__value-email {
    width: 551px;
  }

  .personal-info__value-phone {
    width: 535px;
  }

  .personal-info__icon-mail {
    top: 20px;
    right: 20px;
  }

  .personal-info__icon-phone {
    top: 17px;
    right: 17px;
  }
}

@media (min-width: 1300px) {
  .personal-info {
    margin: 0;

    width: 1220px;
  }

  .personal-info__legend {
    padding-top: 70px;
  }

  .personal-info__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .personal-info__unit {
    width: 570px;

    display: flex;
    justify-content: space-between;
  }

  .personal-info__value-email {
    width: 486px;
  }

  .personal-info__value-phone {
    width: 472px;
  }

  .personal-info__icon-mail {
    top: 21px;
  }

  .personal-info__icon-phone {
    right: 19px;
  }
}
