.product {
  border-bottom: 1px solid #ededed;

  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 23px;
}

.product__wrapper {
  display: flex;
}

.product__title {
  color: #111111;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 400;

  width: 75px;

  padding-top: 21px;
}

.product__options {
  font-family: "Arial", "Helvetica", sans-serif;
  color: #444444;

  width: 140px;

  padding-top: 11px;
}

.product__option {
  font-size: 12px;
  line-height: 16px;

  padding: 0;
}

.product__option-title {
  text-align: left;
}

.product__option-value {
  text-align: right;
}

@media (min-width: 768px) {
  .product {
    background-color: #f2f2f2;

    padding-left: 0;
    padding-right: 0;
    padding-bottom: 40px;
    padding-top: 0;
    margin: 0;
    margin-top: 140px;

    width: 324px;

    box-sizing: border-box;
  }

  .product__wrapper {
    flex-direction: column;
    align-items: center;
  }

  .product__title {
    font-size: 20px;
    line-height: 20px;
    text-align: center;

    margin: 0 auto;
    padding-top: 17px;

    width: 130px;
  }

  .product__options {
    margin-top: 19px;
    padding: 0;

    width: 249px;
  }

  .product__options td {
    border-bottom: 1px solid;
  }

  .product__option {
    font-size: 16px;
    line-height: 16px;

    padding-top: 6px;
    padding-bottom: 8px;
  }

  .product__button {
    margin: 0 auto;

    margin-top: 32px;

    width: 249px;
  }
}

@media (min-width: 1300px) {
  .product {
    margin-top: 141px;

    width: 245px;
  }

  .product__options {
    width: 169px;
  }

  .product__button {
    width: 169px;
  }
}
