.program-selection__title {
  font-size: 36px;
}

.program-selection__description {
  font-size: 14px;
  text-transform: uppercase;
}

.program-selection__label {
  color: #222222;
  font-size: 16px;
  text-transform: uppercase;
}

.program-selection__value {
  font-size: 16px;
  text-transform: uppercase;
}

.program-selection__legend {
  font-size: 24px;
}

.program-selection__required {
  font-family: "Arial", sans-serif;
  color: #444444;
}

.program-selection__message {
  font-size: 16px;
  text-transform: uppercase;
}

.program-selection__block {
  border: none;
}
