.slider {
  position: relative;
}

.slider__image-before {
  margin: 0 auto;
  margin-top: 36px;

  display: none;
}

.slider__image-after {
  margin: 0 auto;
  margin-top: 36px;

  display: none;
}

.slider__image--active {
  display: flex;
  justify-content: center;
}

.slider__button span {
  font-size: 16px;
  text-transform: uppercase;
  line-height: 20px;
}

.slider__buttons {
  margin: 0 auto;
  padding-bottom: 35px;
  margin-top: 33px;

  width: 200px;

  display: flex;
  justify-content: center;
}

.slider__button {
  position: relative;

  padding: 0;

  border: none;

  cursor: pointer;
}

.slider__button--active::before {
  content: "";

  position: absolute;

  background-color: #68b738;
  border-radius: 10px;

  width: 35px;
  height: 6px;
}

.slider__button-before::before {
  top: 7px;
  left: 65px;
}

.slider__button-after::before {
  top: 7px;
  right: 67px;
}

.slider__switch {
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 10px;

  margin-left: 19px;
  margin-right: 19px;
  margin-top: 3px;

  width: 84px;
  height: 14px;
}

@media (min-width: 768px) {
  .slider {
    background-color: #f2f2f2;
  }

  .slider__image-wrapper {
    position: relative;

    margin: 0 auto;

    width: 690px;
  }

  .slider__image-before {
    position: absolute;
    top: -210px;

    background: url("../img/before-tablet@1x.png") no-repeat;

    width: 690px;
    height: 517px;
  }

  .slider__image-after {
    position: absolute;
    top: -160px;

    background: url("../img/after-tablet@1x.png") no-repeat;

    width: 690px;
    height: 517px;
  }

  .slider__buttons {
    position: relative;

    padding-top: 358px;
    padding-bottom: 68px;

    width: 572px;

    justify-content: space-between;
    align-items: flex-end;
  }

  .slider__buttons::after {
    content: "";

    position: absolute;
    bottom: 80px;
    left: 70px;

    background-color: #dcdcdc;
    border-radius: 3px;

    width: 428px;
    height: 6px;
  }

  .slider__button {
    font-size: 20px;
    line-height: 20px;

    border-bottom: 1px dotted #b8b8b8;

    padding: 0;
    padding-bottom: 6px;
  }

  .slider__button--active::before {
    display: none;
  }

  .slider__button span {
    font-size: 20px;
  }

  .slider__switch {
    position: relative;

    border-radius: 50%;

    width: 32px;
    height: 32px;

    z-index: 2;
  }

  .slider__switch::after {
    content: "";

    position: absolute;
    top: 11px;
    left: 11px;

    background-color: #68b738;
    border-radius: 50%;

    width: 8px;
    height: 8px;
  }
}

@media (min-width: 1300px) {
  .slider__image-before {
    background-image: url("../img/before-desktop@1x.png");

    width: 690px;
    height: 517px;
  }

  .slider__image-wrapper {
    position: relative;

    margin-top: -170px;

    width: 690px;
    height: 517px;
  }

  .slider__image {
    position: absolute;
    left: 41px;
    top: -53px;

    background-size: cover;
    background-repeat: no-repeat;

    width: 100%;
    height: 100%;
  }

  .slider__buttons {
    padding-top: 0;
    margin-right: 0;
    margin-top: 12px;
  }
}
