.slider {
  position: relative;
}

.slider__image-before {
  background: url("../img/before-mobile@1x.png") no-repeat;
  background-position: center;

  margin: 0 auto;

  height: 240px;
  width: 320px;

  display: none;
}

.slider__image-after {
  background: url("../img/after-mobile@1x.png") no-repeat;
  background-position: center;

  margin: 0 auto;

  height: 240px;
  width: 320px;

  display: none;
}

.slider__image--active {
  display: block;
}

.slider__button {
  font-size: 16px;
  text-transform: uppercase;

  border: none;

  cursor: pointer;
}

.slider__buttons {
  padding-bottom: 40px;

  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .slider {
    background-color: #f2f2f2;
  }

  .slider__image-wrapper {
    position: relative;

    margin: 0 auto;

    width: 690px;
  }

  .slider__image-before {
    position: absolute;
    top: -160px;

    background: url("../img/before-tablet@1x.png") no-repeat;

    width: 690px;
    height: 517px;
  }

  .slider__image-after {
    position: absolute;
    top: -160px;

    background: url("../img/after-tablet@1x.png") no-repeat;

    width: 690px;
    height: 517px;
  }

  .slider__buttons {
    padding-top: 360px;
    padding-bottom: 68px;

    align-items: flex-end;
  }
}

@media (min-width: 1300px) {
  .slider__image-before {
    background-image: url("../img/before-desktop@1x.png");

    width: 690px;
    height: 517px;
  }

  .slider__image-wrapper {
    position: relative;

    margin-top: -170px;

    width: 690px;
    height: 517px;
  }

  .slider__image {
    position: absolute;
    left: 0;
    top: 0;

    background-size: cover;
    background-repeat: no-repeat;

    width: 100%;
    height: 100%;
  }
}
