.button {
  font-size: 20px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  line-height: 20px;

  background-color: #68b738;
  border: none;
  outline: none;

  padding-top: 10px;
  padding-bottom: 10px;

  width: 280px;
  height: 40px;

  box-sizing: border-box;

  display: block;

  cursor: pointer;

  &--grey {
    font-size: 20px;
    text-transform: uppercase;
    color: #444444;
    text-align: center;
    line-height: 20px;

    background-color: #f2f2f2;
    border: none;
    outline: none;

    padding-top: 10px;

    width: 280px;
    height: 40px;

    box-sizing: border-box;

    display: block;

    cursor: pointer;
  }
}

.button:hover {
  background-color: #5eaa2f;
}

.button:active span {
  opacity: 0.3;
}

.button--grey:hover {
  background-color: #ebebeb;
}

.button--grey:active span {
  opacity: 0.3;
}
