@font-face {
  font-family: "OswaldMedium";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/oswaldmedium.woff"),
       url("../fonts/oswaldmedium.woff2");
}

@font-face {
  font-family: "OswaldRegular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/oswaldregular.woff"),
       url("../fonts/oswaldregular.woff2");
}
