@font-face {
    font-family: 'OswaldMedium';
    src: url('../fonts/oswaldmedium.woff');
    src: url('../fonts/oswaldmedium.woff2');
}

@font-face {
    font-family: 'OswaldRegular';
    src: url('../fonts/oswaldregular.woff');
    src: url('../fonts/oswaldregular.woff2');
}

body {
    font-family: 'OswaldRegular', 'Arial', sans-serif;
    font-size: 14px;
    color: #111111;
}

.block-title {
    font-size: 36px;
}

.button {
    font-size: 16px;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    &--grey {
        color: #444444;
    }
}

// Header

.main-menu__unit {
    font-family: 'OswaldMedium', 'Arial', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}

.main-menu__unit a {
    color: #111111;
    text-decoration: none;
}

// Index

.about-site__title {
    font-size: 36px;
    color: #ffffff;
}

.about-site__slogan {
    text-transform: uppercase;
    color: #ffffff;
}

.program-options__title {
    font-size: 24px;
    text-transform: uppercase;
}

.program-options__description {
    font-family: 'Arial', sans-serif;
    color: #444444;
}

.program-options__button {
    text-transform: uppercase;
    color: #111111;
    text-decoration: none;
}

.about-product__description {
    font-family: 'Arial', sans-serif;
    color: #444444;
}

.example__description {
    font-family: 'Arial', sans-serif;
    color: #444444;
}

.example__value {
    font-size: 24px;
}

.example__category {
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    color: #444444;
}

.example__cost {
    text-transform: uppercase;
}

.time__button {
    font-size: 16px;
    text-transform: uppercase;
}

// Catalog

.catalog__title {
    font-size: 36px;
}

.product__info a {
    color: #111111;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
}

.product__options {
    font-family: 'Arial', sans-serif;
    color: #444444;
    font-size: 12px;
}

.catalog__subtitle {
    font-size: 16px;
}

.catalog__subtext {
    font-family: 'Arial', sans-serif;
    color: #444444;
    font-size: 12px;
}

.extra-product__title {
    font-size: 16px;
    text-transform: uppercase;
}

.extra-product__options {
    font-family: 'Arial', sans-serif;
    color: #444444;
    font-size: 14px;
}

// Form

.program-selection__title {
    font-size: 36px;
}

.program-selection__description {
    font-size: 14px;
    text-transform: uppercase;
}

.program-selection__label {
    color: #222222;
    font-size: 16px;
    text-transform: uppercase;
}

.program-selection__value {
    font-size: 16px;
    text-transform: uppercase;
}

.program-type-list__label {
    color: #222222;
    font-size: 16px;
    text-transform: uppercase;
}

.program-selection__legend {
    font-size: 24px;
}

.program-selection__message {
    font-size: 16px;
    text-transform: uppercase;
}

.extra-list__label {
    color: #222222;
    font-size: 16px;
    text-transform: uppercase;
}

.program-selection__required {
    font-family: 'Arial', sans-serif;
    color: #444444;
}

// Adress

.adress__title {
    font-size: 16px;
}

.adress__place {
    font-family: 'Arial', sans-serif;
    color: #444444;
}

// Footer

.developer__link {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: #444444;
}