@font-face {
  font-family: "OswaldMedium";
  src: url("../fonts/oswaldmedium.woff");
  src: url("../fonts/oswaldmedium.woff2");
}

@font-face {
  font-family: "OswaldRegular";
  src: url("../fonts/oswaldregular.woff");
  src: url("../fonts/oswaldregular.woff2");
}
